<div class='panel panel-primary' *ngIf='movie'>
  <div class='panel-heading'>
    {{pageTitle + ': ' + movie.display_title}}
  </div>

  <div class='panel-body'>
    <div class='row'>
        <div class='col-md-3'>
            <img class='center-block img-responsive' 
            [style.width.px]='movie.multimedia.width' 
            [style.margin.px]='movie.multimedia.heigth' 
            [src]='movie.multimedia.src' 
            [title]='movie.display_title'>
        </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'><h5>Name:</h5></div>
          <div class='col-md-6'>{{movie.display_title}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'><h5>Short Summary:</h5></div>
          <div class='col-md-6'>{{movie.summary_short| lowercase }}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'><h5>Suggested Link to Read:</h5></div>
          <div class='col-md-6'>{{movie.link.suggested_link_text}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class='button1'>
    <a class='btn btn-primary' (click)='onBack()' style='width:80px'>
      Back 
    </a>
  </div>
</div>